:root{ 
  --main: #F05A28;   
  --bg-green: #086512; 
  --bg-green2: #6fd626; 
  --bg-blue: #0693e3; 
}
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
}
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1441px;
  }
}
@font-face{
  font-family: MaphaoThin;
  src: url(MaphaoThin.ttf);
  font-style: normal;
  font-variant:initial;
}    
body{ 
  font-family: MaphaoThin;
  background-color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  padding-top: 100px;
}    
h1{
  font-size: 50px;
  opacity: .65;
  line-height: 0px;
}
ul{
  list-style: none;
  display: flex;
  padding-left: 0px;
  width: 100%; 
}       
ul li{
  text-align: center;
  font-size: 200px; 
  opacity: .65;
  letter-spacing: 10px;
}     
#hours{ 
  width: 30%; 
  text-align: center;
}
#min{ 
  width: 33%; 
  text-align: center;
}
#sec{ 
  width: 200px;
  opacity: .15;
  letter-spacing: 1px;
  text-align: center;
} 
#point{  
  width: 5%;
  opacity: .25;
  font-size: 120px; 
  margin-top: 55px;
}
.right{
  position: absolute;
  right: 0;
  top: 20px;
  bottom: 20px;
  height: calc(100vh - 40px);
  width: 100px; 
  z-index: 11; 
  transition: 1.33s all ease-out;  
  opacity: 0;
  padding: 20px; 
  background: rgba( 255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px; 
  border: .5px solid rgba(255, 255, 255, 0.3);
  border-right: 0px !important; 
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5); 
}
.right:hover{ 
  transition: .33s all ease-out;  
  opacity: 1;
}
.right .icon{
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 50px; 
  height: 50px;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  opacity: 1;
  cursor: pointer;
}
.right button{
  background-color: transparent;
  padding: 0px;
  border: 0px;
  margin-bottom: 0px;
}
.right .icon:hover{  
  opacity: .6;
}
#datepicker{
  position: absolute;
  left: 20px;
  top: 20px; 
  transition: .33s all ease-out;   
}   
#datepicker:hover{ 
  opacity: 1; 
  font-size: 20px;
}  
#datepicker:hover .datepicker{ 
  width: 170px;
} 
.datepicker-switch{
  color: rgba( 255, 0, 0, 0.4);
} 
.day{
  opacity: .15;
}
.dow{
  opacity: .15; 
}
.day:hover{
  color: black;
  border-radius: 50%; 
}
.today.day{
  background: rgba( 255, 0, 0, 0.4) !important;
  border-radius: 50%;
  opacity: 1 !important;
}
#datepicker:hover .day{ 
  opacity: 1; 
  padding: 2px 6px;
}  
#datepicker:hover .dow{ 
  opacity: 1; 
}  
#datepicker:hover .today.day{
  background: rgba( 255, 0, 0,1) !important; 
  opacity: 1 !important;
}
#datepicker.day:hover .datepicker-switch{
  color: rgba( 255, 0, 0, 1);
} 
.fullscreen-btn{
  background-color: transparent;
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
  opacity: .1;
  transition: .33s all ease-out;  
  border: 0px solid #fff;
  color: #fff;
  font-size: 22px;
  min-width: 200px;
  padding: 10px;
  border-radius: 4px;
}
.fullscreen-btn:hover{ 
  opacity: 1;
  background: rgba( 255, 255, 255, 0.1);
}
#weather{
  position: absolute;
  right: 20px; 
  top: 20px; 
}
#weather p{
  font-size: 35px !important;
  opacity: .6;
}
 

/*
transition: .33s all ease-out;  
######################################################################################################
###################################################################################################### 
*/ 

@media only screen and (max-width: 1024px) { /* MOBILE */
  body{  
    padding-top: 50px;
  }   
  .mb-x{
    display: none !important;
  }      
  h1{
    font-size: 30px; 
  }
  #hours{ 
    width: 100%; 
    text-align: center;
  }
  #min{ 
    width: 100%; 
    text-align: center;
  }
  #sec{ 
    width: 60px;
    opacity: .25;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;  
  }
  ul{ 
    margin-left: 0px;
  }       
  ul li{ 
    font-size: 88px;  
    letter-spacing: 10px;
  }     
  #point{  
    width: 20px;
    opacity: .25;
    font-size: 40px; 
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }    
}    
@media only screen and (width: 1024px) { /* PC */ 
}   
.bot{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
}